@{
    ViewData["Title"] = "Index Home";
}


<h2>@ViewBag.Nombre</h2>
<h3>@ViewBag.Fecha</h3>
@Html.ActionLink("Ir a medicos :D", "Index", "Medico")

@section SideBar
{
    <img src="https://www.igaleno.com/wp-content/uploads/2021/07/Diferencias-entre-centro-medico-y-clinica.jpg" alt="imagen de una clinica" />
    <img src="https://brandandhealth.com/wp-content/uploads/2022/01/7-estrategias-para-hacer-crecer-tu-cli%CC%81nica-scaled.jpeg" alt="imagen de una clinica" />
    <img src="https://infraestructuramedica.mx/wp-content/uploads/2021/09/como-administrar-una-clinica-diseno-de-clinicas-modernas-arquitectos-medicos.png" alt="imagen de una clinica" />
    <img src="./css/imgs/1.png" alt="1"/>
}